/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
  background-color: black;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  z-index: 0; }

.scroll-buttons {
  width: 10%;
  left: 0;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box; }
  .scroll-buttons img {
    width: 85%;
    height: auto;
    align-self: flex-start;
    z-index: 100; }

.header {
  background-color: lightcoral;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh; }
  .header h1 {
    color: white;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 500; }
    @media (max-width: 630px) {
      .header h1 {
        font-size: 5rem; } }
    @media (max-width: 533px) {
      .header h1 {
        font-size: 4rem; } }
  .header p {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }

.main-container {
  margin: 0 auto;
  height: auto; }
  .main-container .projects {
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: white;
    height: auto; }
    .main-container .projects .projects-header {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      text-transform: uppercase;
      height: 45px;
      text-align: center;
      margin-top: 30px; }
    .main-container .projects .projects-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      height: auto;
      padding-bottom: 50px;
      box-sizing: border-box; }
      .main-container .projects .projects-container a {
        margin-top: 50px;
        padding: 0;
        width: 45%;
        height: auto;
        color: black;
        font-size: 1rem;
        text-transform: lowercase;
        font-family: "Open Sans", sans-serif; }
        .main-container .projects .projects-container a .gif {
          margin-top: 7px;
          width: 100%;
          height: auto;
          opacity: 0.7;
          transition: opacity .5s; }
          .main-container .projects .projects-container a .gif:hover {
            opacity: 1;
            transition: opacity .5s; }
  .main-container .technologies {
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: #2aa091;
    height: auto; }
    .main-container .technologies .technologies-header {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      text-transform: uppercase;
      height: 45px;
      text-align: center;
      margin-top: 30px;
      color: white; }
    .main-container .technologies .technologies-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      height: auto;
      padding-bottom: 50px;
      box-sizing: border-box;
      padding-right: 10%;
      align-items: center; }
      .main-container .technologies .technologies-container a {
        margin-top: 50px;
        padding-left: 10%;
        width: 10%;
        height: auto; }
        .main-container .technologies .technologies-container a img {
          width: 100%;
          height: auto; }
  .main-container .contact {
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: white;
    height: auto; }
    .main-container .contact .contact-header {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      text-transform: uppercase;
      height: 45px;
      text-align: center;
      margin-top: 30px; }
    .main-container .contact .contact-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      height: auto;
      padding-bottom: 50px;
      box-sizing: border-box;
      align-items: center; }
      .main-container .contact .contact-container a {
        margin-top: 50px;
        padding: 0;
        width: 10%;
        height: auto; }
        .main-container .contact .contact-container a img {
          width: 100%;
          height: auto; }

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-evenly; }
  .footer .icon-credit {
    color: whitesmoke;
    font-size: .3rem; }
  .footer a {
    color: whitesmoke;
    font-size: .3rem; }
  .footer p {
    color: white;
    font-size: .8rem;
    text-transform: uppercase; }
