@mixin section-header {
  @include centerer;
  font-size: 2rem;
  text-transform: uppercase;
  height: 45px;
  text-align: center;
  margin-top: 30px;
}

@mixin centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  box-sizing: border-box;
}

@mixin flex-column-auto {
  display: flex;
  flex-flow: column;
  height: auto;
}