@mixin section-header {
  @include centerer;
  font-size: 2rem;
  text-transform: uppercase;
  height: 45px;
  text-align: center;
  margin-top: 30px;
}

@mixin header-image {
  background: linear-gradient(rgba(5, 2, 38, 0.927),
      rgba(5, 2, 38, 0.927)), url($header) no-repeat center center;
  @include cover;


}

@mixin project-image1 {
  background: linear-gradient(rgba(106, 6, 103, 0.927),
      rgba(106, 6, 103, 0.927)), url($bonafind) no-repeat top center;
  @include cover;  
  transition: background 1s;
}

@mixin project-image2 {
  background: linear-gradient(rgba(205, 97, 15, 0.927),
      rgba(205, 97, 15, 0.927)), url($vue-notes) no-repeat top center;
  @include cover;

}

@mixin description1 {
  background: linear-gradient(rgba(34, 152, 187, 0.927),
      rgba(34, 152, 187, 0.927)), url($bonafind) no-repeat top center;
  @include cover;

}

@mixin description2 {
  background: linear-gradient(rgba(201, 24, 11, 0.927),
      rgba(201, 24, 11, 0.927)), url($vue-notes) no-repeat top center;
  @include cover;

}

@mixin centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-evenly;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

@mixin img-hover {
  &:hover {
    background: linear-gradient(rgba(106, 6, 103, 0.2),
        rgba(106, 6, 103, 0.2)), url($bonafind) no-repeat top center;
    @include cover;
  }
}

@mixin flex-column-auto {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
}

@mixin cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}