@mixin section-header {
  @include centerer;
  font-size: 2rem;
  text-transform: uppercase;
  height: 45px;
  text-align: center;
  margin-top: 30px;
}

@mixin centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}