body {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  box-sizing: border-box;
}

.header {
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    color: white;
  }

  p {
    color: white;
  }
}

.main-container {
  margin: 0 auto;
  height: auto;

  .projects {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: white;

    .projects-header {}

    .projects-container {}
  }

  .skills {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: white;

    .skills-header {}

    .skills-container {}

  }

  .contact {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: white;

    .contact-header {}

    .contact-container {}

  }
}

.footer {
  border: 1px solid mediumseagreen;
  height: 20vh;
}