body {
  width: 100%;
  margin: 0 auto;
}

.header {
  border: 1px solid blueviolet;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  border: 1px solid orange;
  margin: 0 auto;

  .projects {
    border: 1px solid brown;

    .projects-header {}

    .projects-container {}
  }

  .skills {
    border: 1px solid pink;

    .skills-header {}

    .skills-container {}

  }

  .contact {
    border: 1px solid goldenrod;

    .contact-header {}

    .contact-container {}

  }
}

.footer {
  border: 1px solid mediumseagreen;
}