// Font Families
$sans-serif: 'Josefin Sans',
sans-serif;
$serif: 'Cardo';

// Font Weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Images

$header: "../assets/eberhard-grossgasteiger-338314-unsplash.jpg";
$bonafind: "../assets/bonafind.png";
$vue-notes: "../assets/vue-notes.png";
$django-blog: "../assets/django-blog.png";

// Div Colors


